:root {
  --purple: #7a3eb1;
  --lilac: #c8a8e9;
  --gray: #e5e5e5;
  --brown: #613d22;
  --yellow: #f9de59;

  --text-dark: #2a2a2a;
  --card-bg: #ffffff;
  --radius: 14px;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  --transition: 0.25s ease;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, var(--lilac), var(--purple));
  font-family: "Playwrite AU SA", cursive;
  color: var(--text-dark);
}

.main-container {
  display: flex;
  align-items: stretch;
  gap: 20px;
  height: 70vh;
}

.app-container {
  flex: 1 1 0;

  width: 100%;
  padding: 20px;
  background: var(--card-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);

  animation: fadeIn 0.6s ease-in-out;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--brown);
  text-shadow: var(--shadow);
}

.description-box {
  width: 85%;
  height: 290px;
  padding: 12px;
  margin: 20px;

  background: var(--gray);
  border: 2px solid var(--lilac);
  border-radius: var(--radius);
  outline: none;
  resize: none;

  transition: var(--transition);
}

.description-box:focus {
  border-color: var(--purple);
  background: #fff;
}

.upload-label {
  display: block;
  margin: 20px 0;
  font-weight: bold;
  color: var(--brown);
}

.upload-label input {
  margin-top: 8px;
}

.submit-btn , .download-btn {
  width: 100%;
  padding: 12px;

  background: var(--yellow);
  border: none;
  border-radius: var(--radius);

  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

  transition: var(--transition);
}

.submit-btn:hover , .download-btn:hover {
  background: var(--purple);
  color: white;
}

.response-box {
  flex: 1 1 0;
  width: 100%;
  padding: 20px;
  background-color: var(--lilac);
  color: black;
  border-radius: 10px;
  box-shadow: var(--shadow);
  animation: fadeIn 0.6s ease-in-out;
  transition: var(--transition);
}
.response-box >p{
  font-size: 22px;
  font-weight: bold;
  color: var(--brown);
  }
.markdown-body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1;
  color: #222;
  white-space: pre-wrap; 
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 20px;
  margin: 0 0 12px;
}

.markdown-body p {
  margin: 0 0 12px;
}

.markdown-body strong {
  font-weight: 700;
  color: #000;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 20px;
  margin: 0 0 12px;
}

.markdown-body code {
  background: #f4f4f4;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 14px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  margin: 12px 0 8px;
  font-weight: bold;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to   { opacity: 1; transform: translateY(0); }
}
